/* General styles */
* {
  box-sizing: border-box;
  text-align: center;
}
body {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #00A8F3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* Layout */
.MainCollumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
.Section2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
/* Navigation bar */
.navbarC {
  display: flex;
  background-color: #A23E48;
  width: 100%;
  border: 1px solid black;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbarC a {
  color: black;
  padding: 1px 10px;
  text-decoration: none;
  flex: 1;
  border: 0.25vh solid black;
  font-size: 7vh;
}
.navbarC a:first-child, .navbarC a:last-child {
  background-color: #273E47;
}
.navbarC a:hover {
  background-color: #ddd;
  color: rgba(0, 0, 0, 0.6);
}
/* Back/Return Button */
.ReturnButtonC {
  display: flex;
  width: 10%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.ReturnButtonC a {
  flex: 1;
}
.ReturnButtonC a:hover {
  background-color: #ddd;
}
/* Clicker bar */
.clickerbar {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 0;
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  font-size: 3vh;
  height: 92.5vh;
  top: 60px;
  left: 0;
}
.clickerbar p {
  margin: 0;
  padding: 1vh 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clicker-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1vh;
}
/* Circle button */
.circle-button {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-color: #A23E48;
  color: white;
  font-size: 3vh;
  border: black 1vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}
.circle-button:hover {
  transform: scale(1.05);
}
.circle-button:active {
  transform: scale(0.95);
}
/* Leaderboard button */
.Leaderboard {
  position: absolute;
  bottom: 30vh;
  right: 2vw;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  font-size: 3vh;
}
/* Purchase bar */
.purchasebar {
  height: 25vh;
  width: 80vw;
  position: absolute;
  bottom: 2vh;
  left: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 0.5vh solid black;
  overflow: hidden;
  z-index: 1;
}
.Cost, .Upgrade, .Infobutton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.btn {
  border: none;
  color: black;
  background-color: white;
  cursor: pointer;
  font-family: "Bebas Neue";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 5vh;
}
.Upgradetext {
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #F9DB6D;
  border-left: 0.5vh solid black;
}
.Upgradetext p{
  font-size: 4.5vh;
  margin: 0.5vh;
}
.Rebirth {
  background-color: #273E47;
  height: 17vh;
  width: 17vh;
  border: 0.5vh solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0.5vh;
}
/* Image styling */
.rotated-image {
  transform: rotate(-90deg);
  transform-origin: center center;
  width: auto;
  height: 80vh;
  margin: 0 auto;
  margin-top: -25vh;
}
/* contact page */
.ContactsTitle{
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 10vh;
}
.container{
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  background-color: #F9DB6D;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  border: solid black 0.5vh;
  background-color: white;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* sign in page */
.SignInTitle {
  font-size: 17vh;
  margin-top: -15vh;
  margin-bottom: -20vh;
}
.SignIn{
  width: 40%;
  margin-top: 3%;
  margin-left: 30%;
  border-radius: 5px;
  background-color: #0274a9;
  padding: 20px;
}
.bar {
  float: left;
  width: 100%;
  margin-bottom: 5%;
}
.SignLogRow:after {
  content: "";
  display: table;
  clear: both;
}  
/* Settings Page */
.SettingsTitle{
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 10vh;
}
.SettingsBody {
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin-left: 6vh;
  margin-right: 6vh;
  font-size: 4vh;
}
.SettingsSave{
  background-color: white;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 8vh;
  width: 20vh;
} 
.Brightness{
  background-color: white;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 8vh;
  width: 50vh;
}
.Wipe{
  background-color: red;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 8vh;
  width: 20vh;
}
/* Statistics */
.StatisticsTitle{
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 10vh;
}
.StatisticsBody {
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin-left: 6vh;
  margin-right: 6vh;
  font-size: 4vh;
}
.Statistics{
  background-color: white;
  border: 0.5vh solid black;
  margin: 3vh;
  font-size: 6vh;
  width: 94%;
} 
.Statistics2{
  background-color: white;
  border: 0.5vh solid black;
  margin: 3vh;
  font-size: 8vh;
  width: 94%;
}
.Statistics3{
  background-color: white;
  border: 0.5vh solid black;
  margin: 3vh;
  font-size: 5vh;
  width: 94%;
}
  /* Responsive Layout/Media Queries */
@media screen and (max-width: 420px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* General styles */
* {
  box-sizing: border-box;
  text-align: center;
}
body {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #00A8F3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* Layout */
.MainCollumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
.Section2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
/* Navigation bar */
.navbarC {
  display: flex;
  background-color: #A23E48;
  width: 100%;
  border: 1px solid black;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbarC a {
  color: black;
  padding: 1px 10px;
  text-decoration: none;
  flex: 1;
  border: 0.25vh solid black;
  font-size: 7vh;
}
.navbarC a:first-child, .navbarC a:last-child {
  background-color: #273E47;
}
.navbarC a:hover {
  background-color: #ddd;
  color: rgba(0, 0, 0, 0.6);
}
/* Back/Return Button */
.ReturnButtonC {
  display: flex;
  width: 10%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.ReturnButtonC a {
  flex: 1;
}
.ReturnButtonC a:hover {
  background-color: #ddd;
}
/* Clicker bar */
.clickerbar {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 0;
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  font-size: 3vh;
  height: 92.5vh;
  top: 60px;
  left: 0;
}
.clickerbar p {
  margin: 0;
  padding: 1vh 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clicker-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1vh;
}
/* Circle button */
.circle-button {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-color: #A23E48;
  color: white;
  font-size: 3vh;
  border: black 1vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}
.circle-button:hover {
  transform: scale(1.05);
}
.circle-button:active {
  transform: scale(0.95);
}
/* Leaderboard button */
.Leaderboard {
  position: absolute;
  bottom: 30vh;
  right: 2vw;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  font-size: 3vh;
}
/* Purchase bar */
.purchasebar {
  height: 25vh;
  width: 80vw;
  position: absolute;
  bottom: 2vh;
  left: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 0.5vh solid black;
  overflow: hidden;
  z-index: 1;
}
.Cost, .Upgrade, .Infobutton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.btn {
  border: none;
  color: black;
  background-color: white;
  cursor: pointer;
  font-family: "Bebas Neue";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 5vh;
}
.Upgradetext {
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #F9DB6D;
  border-left: 0.5vh solid black;
}
.Upgradetext p{
  font-size: 4.5vh;
  margin: 0.5vh;
}
.Rebirth {
  background-color: #273E47;
  height: 17vh;
  width: 17vh;
  border: 0.5vh solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0.5vh;
}
/* Image styling */
.rotated-image {
  transform: rotate(-90deg);
  transform-origin: center center;
  width: auto;
  height: 80vh;
  margin: 0 auto;
  margin-top: -25vh;
}
/* contact page */
.ContactsTitle{
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 10vh;
}
.container{
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  background-color: #F9DB6D;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  border: solid black 0.5vh;
  background-color: white;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* sign in page */
.SignInTitle {
  font-size: 17vh;
  margin-top: -15vh;
  margin-bottom: -20vh;
}
.SignIn{
  width: 40%;
  margin-top: 3%;
  margin-left: 30%;
  border-radius: 5px;
  background-color: #0274a9;
  padding: 20px;
}
.bar {
  float: left;
  width: 100%;
  margin-bottom: 5%;
}
.SignLogRow:after {
  content: "";
  display: table;
  clear: both;
}  
/* Settings Page */
.SettingsTitle{
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 10vh;
}
.SettingsBody {
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin-left: 6vh;
  margin-right: 6vh;
  font-size: 4vh;
}
.SettingsSave{
  background-color: white;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 8vh;
  width: 20vh;
} 
.Brightness{
  background-color: white;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 8vh;
  width: 50vh;
}
.Wipe{
  background-color: red;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 8vh;
  width: 20vh;
}
/* Statistics */
.StatisticsTitle{
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin: 6vh;
  font-size: 10vh;
}
.StatisticsBody {
  background-color: #F9DB6D;
  border: 0.5vh solid black;
  margin-left: 6vh;
  margin-right: 6vh;
  font-size: 4vh;
}
.Statistics{
  background-color: white;
  border: 0.5vh solid black;
  margin: 3vh;
  font-size: 6vh;
  width: 94%;
} 
.Statistics2{
  background-color: white;
  border: 0.5vh solid black;
  margin: 3vh;
  font-size: 8vh;
  width: 94%;
}
.Statistics3{
  background-color: white;
  border: 0.5vh solid black;
  margin: 3vh;
  font-size: 5vh;
  width: 94%;
}